.button.itm {
  background-color: #137795;
}
.button.itm:hover {
  background-color: #006582;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.button {
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
label {
  color: #fff !important;
}
.top-bar {
  background-color: #085A78;
}
* {
  outline: none;
}

.qf_fix_mb {
  margin-bottom: 10px;
}
.qf_no_mb {
  margin-bottom: 0;
}

.sign-in-form {
  padding-top: 20px;
  background-color: #053C50;
}

.sign-up-form {
  padding-top: 20px;
  background-color: #053C50;
}

.chat-window .conversation {
  padding: 20px;
  padding-bottom: 10px;
  background: #053C50;
  height: 450px;
  overflow: scroll;
}
.chat-window .conversation .conv-line {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.chat-window .conversation .avatar {
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
  border-radius: 56px;
  margin-bottom: 10px;
}
.chat-window .conversation .message {
  margin-left: -15px;
  background: #085A78;
  border-radius: 2px;
  padding: 20px 15px;
}
.chat-window .input-zone {
  height: 100px;
  padding-top: 20px;
  background-color: #085A78;
}

.window-friends {
  background-color: #053C50;
}
.window-friends .friends-list {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  height: 453px;
}
.window-friends .friends-list .panel {
  border-color: #085A78;
  background: #085A78;
}
.window-friends .friends-list .panel h5,
.window-friends .friends-list .panel p {
  color: #fff;
}
.window-friends .friends-list .friend-item:last-child .panel {
  margin-bottom: 0;
}

.window-header {
  background: #074E68;
  padding: 20px;
  margin-bottom: 25px;
}
.window-header h3 {
  margin-bottom: 0;
  color: #fff;
}

.home-window {
  background: #053C50;
}
